.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  background-color: #151679;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.navigation-navlink {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-navlink:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-navlink1 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-navlink1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-navlink2 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-navlink2:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-navlink3 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-navlink3:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-root-class-name {
  background-color: #151679;
}
.navigation-root-class-name1 {
  background-color: #151679;
}
.navigation-root-class-name2 {
  background-color: #151679;
}
.navigation-root-class-name3 {
  background-color: #151679;
}
@media(max-width: 991px) {
  .navigation-header {
    background-color: #151679;
  }
  .navigation-nav {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .navigation-header {
    background-color: #151679;
  }
  .navigation-nav {
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .navigation-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-header {
    background-color: #151679;
  }
  .navigation-nav {
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}

.advertise-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
  justify-content: center;
  background-color: #151679;
}
.advertise-text {
  color: var(--dl-color-scheme-white);
  align-self: center;
  text-align: center;
  text-transform: lowercase;
}
.advertise-container1 {
  width: 952px;
  height: 298px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151679;
}
.advertise-image {
  width: 254px;
  height: 229px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
@media(max-width: 1200px) {
  .advertise-text {
    color: #ffffff;
    text-transform: lowercase;
  }
}
@media(max-width: 991px) {
  .advertise-text {
    color: #ffffff;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    text-transform: lowercase;
  }
  .advertise-image {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .advertise-container1 {
    width: auto;
  }
  .advertise-image {
    width: auto;
    height: var(--dl-size-size-xlarge);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
