.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  background-color: #151679;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.navigation-navlink {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-navlink:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-navlink1 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-navlink1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-navlink2 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-navlink2:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-navlink3 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-navlink3:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-root-class-name {
  background-color: #151679;
}
.navigation-root-class-name1 {
  background-color: #151679;
}
.navigation-root-class-name2 {
  background-color: #151679;
}
.navigation-root-class-name3 {
  background-color: #151679;
}
@media(max-width: 991px) {
  .navigation-header {
    background-color: #151679;
  }
  .navigation-nav {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .navigation-header {
    background-color: #151679;
  }
  .navigation-nav {
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .navigation-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-header {
    background-color: #151679;
  }
  .navigation-nav {
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}

.advertise-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #151679;
}
.advertise-text {
  color: rgb(0, 12, 255);
  align-self: center;
  text-align: center;
}
.advertise-container1 {
  width: 952px;
  height: 298px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151679;
}
.advertise-image {
  width: 254px;
  height: 229px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-sixunits);
}
.advertise-form {
  width: 761px;
  height: 229px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.advertise-textinput {
  width: 100%;
}
.advertise-textinput1 {
  width: 100%;
}
.advertise-textarea {
  width: 100%;
  height: 131px;
}
.advertise-button {
  width: var(--dl-size-size-xlarge);
  align-self: flex-start;
}
@media(max-width: 991px) {
  .advertise-text {
    color: rgb(0, 12, 255);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    text-transform: lowercase;
  }
  .advertise-text01 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text02 {
    color: var(--dl-color-scheme-white);
    text-transform: capitalize;
  }
  .advertise-text03 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text04 {
    color: var(--dl-color-scheme-white);
    text-transform: capitalize;
  }
  .advertise-text05 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text06 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text07 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text08 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text09 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text10 {
    color: var(--dl-color-scheme-white);
    text-transform: capitalize;
  }
  .advertise-text11 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text12 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text13 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text14 {
    color: var(--dl-color-scheme-white);
    text-transform: capitalize;
  }
  .advertise-text15 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text16 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text17 {
    color: var(--dl-color-scheme-white);
    text-transform: uppercase;
  }
  .advertise-text18 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text19 {
    color: var(--dl-color-scheme-white);
    text-transform: capitalize;
  }
  .advertise-text20 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text21 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text22 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text23 {
    color: var(--dl-color-scheme-white);
    text-transform: capitalize;
  }
  .advertise-text24 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text25 {
    color: var(--dl-color-scheme-white);
    text-transform: capitalize;
  }
  .advertise-text26 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text27 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text28 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text29 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text30 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-text31 {
    color: var(--dl-color-scheme-white);
    text-transform: capitalize;
  }
  .advertise-text32 {
    color: var(--dl-color-scheme-white);
  }
  .advertise-image {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .advertise-form {
    width: 274px;
    align-self: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-fourunits);
  }
  .advertise-textinput {
    width: auto;
    font-family: Times New Roman;
  }
  .advertise-textinput1 {
    width: auto;
    font-family: Times New Roman;
  }
  .advertise-textarea {
    width: auto;
    font-family: Times New Roman;
  }
  .advertise-button {
    width: auto;
  }
}
@media(max-width: 479px) {
  .advertise-container1 {
    width: auto;
  }
  .advertise-image {
    width: auto;
    height: var(--dl-size-size-xlarge);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .advertise-textinput {
    width: auto;
  }
  .advertise-textinput1 {
    width: auto;
  }
  .advertise-textarea {
    width: auto;
  }
  .advertise-button {
    width: auto;
  }
}
