.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  background-color: #151679;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.navigation-navlink {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-navlink:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-navlink1 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-navlink1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-navlink2 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-navlink2:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-navlink3 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-navlink3:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-root-class-name {
  background-color: #151679;
}
.navigation-root-class-name1 {
  background-color: #151679;
}
.navigation-root-class-name2 {
  background-color: #151679;
}
.navigation-root-class-name3 {
  background-color: #151679;
}
@media(max-width: 991px) {
  .navigation-header {
    background-color: #151679;
  }
  .navigation-nav {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .navigation-header {
    background-color: #151679;
  }
  .navigation-nav {
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .navigation-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-header {
    background-color: #151679;
  }
  .navigation-nav {
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}

.contact-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #151679;
}
.contact-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-hero {
  position: relative;
  padding-top: 128px;
}
.contact-max-width {
  margin-top: var(--dl-space-space-threeunits);
}
.contact-heading-container {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-container1 {
  width: 952px;
  height: 298px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151679;
}
.contact-container2 {
  z-index: 100;
  border-color: var(--dl-color-scheme-darkblue);
  border-width: 1px;
}
.contact-container3 {
  display: contents;
}
.contact-container4 {
  width: 952px;
  height: 298px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #151679;
}
.contact-text {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-left: 0px;
}
.contact-text01 {
  text-transform: capitalize;
}
.contact-text02 {
  text-transform: lowercase;
}
.contact-text03 {
  text-transform: lowercase;
}
.contact-text04 {
  text-transform: lowercase;
}
.contact-text05 {
  text-transform: lowercase;
}
.contact-text06 {
  text-transform: lowercase;
}
.contact-text07 {
  text-transform: lowercase;
}
.contact-text08 {
  text-transform: lowercase;
}
.contact-text09 {
  text-transform: lowercase;
}
.contact-text10 {
  text-transform: capitalize;
}
.contact-text11 {
  text-transform: capitalize;
}
.contact-text12 {
  text-transform: capitalize;
}
.contact-text13 {
  text-transform: capitalize;
}
.contact-text14 {
  text-transform: capitalize;
}
.contact-text15 {
  text-transform: capitalize;
}
.contact-text16 {
  text-transform: capitalize;
}
.contact-text17 {
  text-transform: capitalize;
}
.contact-text18 {
  text-transform: lowercase;
}
.contact-image {
  width: 254px;
  height: 229px;
  align-self: center;
  object-fit: cover;
  margin-left: var(--dl-space-space-sixunits);
}
.contact-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.contact-text19 {
  color: rgb(255, 255, 255);
  align-self: center;
  margin-left: var(--dl-space-space-sixunits);
}
.contact-text20 {
  text-transform: capitalize;
}
.contact-text21 {
  text-transform: lowercase;
}
@media(max-width: 991px) {
  .contact-heading-container {
    max-width: 100%;
    margin-bottom: 42px;
  }
  .contact-container1 {
    width: var(--dl-size-size-medium);
  }
  .contact-image {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .contact-container4 {
    width: auto;
  }
  .contact-text {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .contact-image {
    width: auto;
    height: var(--dl-size-size-xlarge);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
}
