.navigation-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  background-color: #151679;
}
.navigation-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.navigation-navlink {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.navigation-navlink:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-navlink1 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-navlink1:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-navlink2 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-navlink2:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-navlink3 {
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 41px;
  text-decoration: none;
}
.navigation-navlink3:hover {
  color: var(--dl-color-scheme-brown);
}
.navigation-root-class-name {
  background-color: #151679;
}
.navigation-root-class-name1 {
  background-color: #151679;
}
.navigation-root-class-name2 {
  background-color: #151679;
}
.navigation-root-class-name3 {
  background-color: #151679;
}
@media(max-width: 991px) {
  .navigation-header {
    background-color: #151679;
  }
  .navigation-nav {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .navigation-header {
    background-color: #151679;
  }
  .navigation-nav {
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .navigation-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-header {
    background-color: #151679;
  }
  .navigation-nav {
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color: #151679;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-white);
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.home-image {
  width: 448px;
  height: 406px;
  object-fit: cover;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  justify-content: center;
}
.home-container2 {
  flex: 0 0 auto;
  width: 464px;
  height: auto;
  display: flex;
  align-items: flex-end;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
}
.home-container3 {
  flex: 0 0 auto;
  width: 464px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.home-container4 {
  width: 464px;
  align-self: flex-end;
  margin-left: var(--dl-space-space-sixunits);
}
.home-container5 {
  display: contents;
}
@media(max-width: 991px) {
  .home-image {
    width: auto;
    height: auto;
  }
}
@media(max-width: 767px) {
  .home-image {
    margin-top: 0px;
  }
}
@media(max-width: 479px) {
  .home-container1 {
    width: 100%;
  }
  .home-container3 {
    width: 100%;
  }
  .home-container4 {
    width: auto;
    align-self: flex-end;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
