<div>
  <link href="./navigation.css" rel="stylesheet" />
  <header data-role="Header" class="navigation-header">
    <nav class="navigation-nav">
      <a href="index.html" class="navigation-navlink Navigation-Link">
        <span>HOME</span>
      </a>
      <a href="get-a-copy.html" class="navigation-navlink1 Navigation-Link">
        <span>GET A COPY</span>
      </a>
      <a href="contact.html" class="navigation-navlink2 Navigation-Link">
        <span>CONTACT</span>
      </a>
    </nav>
  </header>
</div>
